nav {
    top: 0;
    position: sticky;
    height: 100vh;
    width: 35vw;
    max-width: 250px;
    background-color: #121924;
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.247);
    transition: .3s;
}

.nav-top {
    padding: 15px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-top h3 {
    color: #bddfff;
    font-family: "IBM Plex", Courier, monospace;
    font-weight: bold;
}

.logo-secondary {
    color: #84aff0;
}

.sidebar-collapse {
    padding: 3px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c1f6ff;
}

nav button svg {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav ul li {
    width: 90%;
}

nav button {
    font-family: "IBM Plex";
    width: 100%;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 19px;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    color: #c1f6ff;
    gap: 10px;
    align-items: center;
}

nav button svg {
    color: inherit;
}

nav button:hover {
    scale: 0.98;
    background-color: rgb(193, 246, 255);
    color: #0d1117;
}

nav button:active {
    scale: 0.93;
}

.navsearch {
    width: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.navsearchinner {
    position: relative;
    width: 88%;
    background-color: #2d394b;
    border-radius: 10px;
}

.navsearch input {
    width: 100%;
    padding: 10px 40px 10px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #dde8ff;
}

.navsearchinner svg {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #dde8ff;
    pointer-events: none;
}

.navsettings {
    position: relative;
    margin-top: auto;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.navsettings button {
    width: 90%;
}

/*collapsed*/


nav.collapsed button {
    padding: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.collapsed{
    width: 75px;
}

nav.collapsed .nav-top{
    padding: 0;
    padding-right: 0;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.collapsed-hide{
    display:none;
}

.nav-logo{
    font-size: 20px;
    font-weight: bold;
}




/* @media (max-width: 768px) {
    nav {
        position: fixed;
        bottom: 0;
        top: auto;

        height: 64px;
        width: 100vw;
        max-width: none;

        flex-direction: row;
        padding: 0 12px;
        border-radius: 0;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 75%;
    }

    nav ul li {
        flex: 1;
    }

    nav button {
        font-size: inherit;
        padding: 6px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav button span {
        font-size: 8pt;
    }

    .navsearch {
        display: none;
    }

    .navsettings {
        position: static;
        margin: 0;
    }

    .nav-top {
        display: none;
    }

    .sidebar-collapse {
        display: none;
    }
} */
