nav {
    position: fixed;
    height: 100vh;
    width: 35vw;
    max-width: 300px;
    background-color: #121924;
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.247);
}

.nav-top {
    padding: 15px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-top h3 {
    color: #bddfff;
    font-family: "Courier New", Courier, monospace;
}

.logo-secondary {
    color: #84aff0;
}

.sidebar-collapse {
    padding: 3px;
    width: 40px;
    color: #c1f6ff;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav ul li {
    width: 90%; /* or 100% if you want edge-to-edge */
}

nav button {
    width: 100%;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 19px;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    color: #c1f6ff;
    gap: 10px;
    align-items: center;
}

nav button svg {
    color: inherit;
}

nav button:hover {
    scale: 0.98;
    background-color: rgb(193, 246, 255);
    color: #0d1117;
}

nav button:active {
    scale: 0.93;
}

.navsearch {
    width: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.navsearchinner {
    position: relative;
    width: 88%;
    background-color: #2d394b;
    border-radius: 10px;
}

.navsearch input {
    width: 100%;
    padding: 10px 40px 10px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #dde8ff;
}

.navsearchinner svg {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #dde8ff;
    pointer-events: none;
}

.navsettings {
    position: relative;
    margin-top: auto;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.navsettings button {
    width: 90%;
}
