@import "tailwindcss";

@font-face {
    font-family: "IBM Plex";
    src: url("/src/assets/fonts/ibmplex.ttf") format("truetype");
}

@font-face {
    font-family: "IBM Plex Italic";
    src: url("/src/assets/fonts/ibmplexitalic.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope";
    src: url("/src/assets/fonts/Manrope.ttf") format("truetype");
}

#root {
    display: flex;
    width: 100vw;
}

@media (max-width: 768px) {
    #root {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
}
@theme {
    --color-light-background: #fff;
    --color-light-soft: #eee;
    --color-light-softer: #aaa;
    --color-light-text: #0d1117;
    --color-light-accent: #321066;

    --color-dark-background: #0d1117;
    --color-dark-soft: #121924;
    --color-dark-softer: #242a35;
    --color-dark-text: #ebfeff;
    --color-dark-accent: #c1f6ff;
    --font-plex: "IBM Plex", sans-serif;
    --font-manrope: "Manrope", sans-serif;
}

@layer base {
    @media (prefers-color-scheme: light) {
        body {
            background-color: var(--color-light-background);
            color: var(--color-light-text);
            display: flex;
        }
    }
    @media (prefers-color-scheme: dark) {
        body {
            background-color: var(--color-dark-background);
            color: var(--color-dark-text);
            display: flex;
        }
    }
}
